article {
  background-color: white;
  box-shadow: 1px 1px 5px #BBB;
  display: flex;
  flex-direction: column;
  height: 20rem;
  margin: 1rem;
  padding: .5rem;
  width: 12rem;
}

.highlighted {
  background-color: #C1EDF6;
}

h3 {
  align-self: center;
  background-color: #5B5BE8;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-size: 1rem;
  padding: 0px 5px;
  width: 90%;
}

.element-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 3rem;
}

.years {
  color: #0B0B1D;
  font-weight: 700;
}

.belowFifty {
  color: #E85B5B;
}

.aboveFifty {

}